/*  ==========================================================================
Typography
========================================================================== */

/*  Font face
    ========================================================================== */
    @font-face {
        font-family: 'gabriola';
        src: url('../fonts/gabriola/gabriola-webfont.eot');
        src: url('../fonts/gabriola/gabriola-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gabriola/gabriola-webfont.woff2') format('woff2'),
        url('../fonts/gabriola/gabriola-webfont.woff') format('woff'),
        url('../fonts/gabriola/gabriola-webfont.ttf') format('truetype'),
        url('../fonts/gabriola/gabriola-webfont.svg#gabriolaregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'calgary';
        src: url('../fonts/calgary/calgary_script-webfont.eot');
        src: url('../fonts/calgary/calgary_script-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/calgary/calgary_script-webfont.woff2') format('woff2'),
        url('../fonts/calgary/calgary_script-webfont.woff') format('woff'),
        url('../fonts/calgary/calgary_script-webfont.ttf') format('truetype'),
        url('../fonts/calgary/calgary_script-webfont.svg#calgary_script_otregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

	@font-face {
	  font-family: 'beyond_the_mountains';
	  src: url('../fonts/beyond_the_mountains/Beyond The Mountains.woff2') format('woff2'),
		   url('../fonts/beyond_the_mountains/Beyond The Mountains.woff') format('woff'),
		   url('../fonts/beyond_the_mountains/beyond_the_mountains.ttf') format('truetype');
	}
	
	.beyond_the_mountains{
	  font-family: beyond_the_mountains, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	  color:#c49b63;
	}

    @font-face {
        font-family: 'lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }
	